# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C+++

#### Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Scikit-Learn

**Objectives:**

- Markdown
- Cell
- Languages uses by Data Scientist
- Tables
- Libraries

| Data Science Tools |
| ------------------ |
| Jupyter Notebooks |
| R studios |
| Visual Studio |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [8]:
# this a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
http://localhost:8888/notebooks/Data%20Science%20Tools%20first%20notebook.ipynb#Dayan-Pelaez
200/60

3.3333333333333335

## Author
###### Dayan Pelaez